body{
    text-align:center;
    list-style-position: inside;
    background-color: beige(243, 222, 195);
}

#logo{
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 600px;
    top: 0px;
}

#yazi{
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 800px;
    top: 10px;
}

img{
    width: 400px;
    height: 300px;
    border-radius: 40px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Courier, monospace;
    
}

.resimAdi{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
}

#listeModel{
    text-align: left;
    position: absolute;
    right: 690px;
    margin: 0;
    padding: 0;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style:solid;
    border-radius: 8px;
    border-width: 3px;
    border-color: red black;
}

.buttonLink{
    background-color: floralwhite;
    border-radius: 5px;
}

#hakkimizdaMetin{
    font-family: cursive;
    font-size: 17px;
}
